@import "../../variables.less";

.header-container {
  background-color: @theme-color1;
  color: @theme-font-color1;
  .header-banner-container {
    img {
    }
  }
  .header-info-container {
    .title {
    }
    .body {
    }
    .button-container {
      .button {
        border: 2px solid @theme-font-color1;
        color: @theme-font-color1;
        .text {
          background-color: @theme-color1;
        }
        .button-icon {
          background-color: white;
          .mi {
            color: @theme-color1;
          }
        }
      }
    }
  }
}
