<div class="header-container">
  <div class="header-banner-container">
    <img src="/assets/video-img.png" alt="">
  </div>
  <div class="header-info-container">
    <div class="title">
      Why have a financial adviser?
    </div>
    <div class="body">
      <p>
        Haven was created out of the need to simply do things better. With specialist advisers across a range of financial services,
        we will offer you the best, practical advice for your unique situation.
      </p>
      <p>
        Our financial advisers span the north and south island making us conveniently positioned wherever you need us.
      </p>
    </div>
    <div class="button-container">
      <div class="button">
        <div class="text">
          Learn more about our advisers
        </div>
        <div class="button-icon">
          <i class="mi mi-play-arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>