@import "../../variables.less";

@media (max-width: (@desktop-minimum-size - .001)) {
    .header-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      flex: 1;
      .header-banner-container {
        flex: 1;
        overflow: hidden;
        img {
          height: auto;
          width: 100%;
        }
      }
      .header-info-container {
        flex: 1;
        padding: 40px 30px;
        .title {
          font-size: @mobile-title-size2;
          padding-bottom: 20px;
        }
        .body {
          font-size: @mobile-text-size2;
          line-height: 140%;
        }
        .button-container {
          font-size: @mobile-text-size2;
  
          display: flex;
          flex: 1;
          justify-content: center;
          .button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
  
            .text {
              padding: 5px;
            }
            .button-icon {
              width: 35px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
  


@media (min-width: @desktop-minimum-size) {
  .header-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex: 1;
    .header-banner-container {
      flex: 3;
      overflow: hidden;
      img {
        height: 100%;
        width: auto;
      }
    }
    .header-info-container {
      flex: 1;
      padding: 40px 30px;
      .title {
        font-size: @desktop-title-size2;
        padding-bottom: 20px;
      }
      .body {
        font-size: @desktop-text-size2;
        line-height: 140%;
      }
      .button-container {
        font-size: @desktop-text-size2;

        display: flex;
        flex: 1;
        justify-content: center;
        .button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .text {
            padding: 5px;
          }
          .button-icon {
            width: 35px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
