@import "../../variables.less";

.footer-container {
  padding: 30px;
  font-size: @desktop-text-size3;
  .newsletter-container {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .item {
      margin-left: 10px;
    }
    .submit-container {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding-top: 5px;
      .submit {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .real-footer {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-container {
      padding: 50px;
    }
    .links-container {
      padding: 20px 0;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .link {
        padding-left: 30px;
      }
    }
    .contacts-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .copyright {
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: top;
  }
}

@media (max-width: (@desktop-minimum-size - .001)) {
  .footer-container {
    font-size: @mobile-text-size3;
    .newsletter-container {
      flex-direction: column;
      .item {
        flex: 1;
        margin-top: 10px;
      }
      .submit-container {
        margin-bottom: 10px;
      }
    }
    .real-footer {
      .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .link {
          padding: 10px 0;
        }
      }
    }
  }
}
