@import "../../variables.less";

.footer-container {
  background-color: @theme-color3;
  color: @theme-font-color3;
  border-bottom: 1px solid @theme-font-color3;
  .newsletter-container {
    border-bottom: 1px solid @theme-color2;

    .text {
      font-weight: bolder;
    }
    input {
      border: 1px solid @theme-font-color3;
      background-color: @theme-color3;
      color: @theme-font-color3;
    }
    .submit-container {
      background-color: @theme-color1;
      color: @theme-font-color1;
      cursor:pointer;
    }
  }

  .real-footer {
    border-bottom: 1px solid @theme-font-color3;
    .logo-container {
    }
    .links-container {
      .link {
        a {
          color: @theme-font-color3;
        }
      }
    }
    .contacts-container {
      .number {
      }
      .email {
      }
    }
  }
  .copyright {
  }
}
