<div class="footer-container">
  <div class="newsletter-container">
    <span class="item text" >
      SIGN UP TO OUR NEWSLETTER
    </span>
    <input type="text" name="" id="" placeholder="Full name" class="item input">
    <input type="email" name="" id="" placeholder="Email address" class="item input">

    <div class="submit-container item">
      <div class="submit">
        <span>
          Submit
        </span>
      </div>
    </div>
  </div>
  <div class="real-footer">
    <div class="logo-container">
      <img src="/assets/logo.png" alt="">
    </div>
    <div class="links-container">

      <div class="link" *ngFor="let link of links">
        <a href="#">
          {{link | uppercase}}
        </a>
      </div>
    </div>
    <div class="contacts-container">
      <div class="number">
        0800 700 699
      </div>
      <div class="email">
        reception@havenadvisers.co.nz
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>Copyright © 2017 Haven Advisers Limited. All rights reserved.</span>
  </div>
</div>