<div class="contact-container">
  <div class="contact-form-container">
    <div class="title">
      Contact us today
    </div>
    <div class="subtitle">
      <p class="text">
        Brief intro paragraph about this section. Bis porepelent quam nam ut raeptam facilio riberum sitatur aut proreperiata volorer.
      </p>
    </div>
    <form class="form">
      <div class="first-col col">
        <input type="text" placeholder="Full name*" name="" id="">
        <input type="email" placeholder="Email address*" name="" id="name">
        <input type="tel" placeholder="Contact number" name="" id="">
      </div>
      <div class="secon-col col">
        <select name="" id="" placeholder="Book a meeting">
          <option value="" disabled selected>Book a meeting</option>
          <option value="" class="mi mi-play-arrow">
            Test
          </option>
        </select>
        <select name="" id="" placeholder="Preferred day*">
          <option value="" disabled selected>Preferred day*</option>
          <option value="">
            Today
          </option>
        </select>
        <select name="" id="" placeholder="Preferred time*">
          <option value="" disabled selected>Preferred time*</option>
          <option value="">
            Later
          </option>
        </select>
      </div>
      <div class="third-col col">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
      </div>
      <div class="submit-container">
        <div class="submit">
          <span>
            Submit
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="contact-links-container">
    <div class="title">
      Contact us
    </div>
    <div class="link-container">
      <div class="link">
        <a href="">
          <i class="mi mi-pin-drop"></i>
          <span>
            Find an adviser
          </span>
        </a>
      </div>
      <div class="link">
        <a href="">
          <i class="mi mi-chat"></i>
          <span>
            Talk to an accountant
          </span>
        </a>
      </div>
      <div class="link">
        <a href="">
          <i class="mi mi-home"></i>
          <span>
            Talk to a mortgage broker
          </span>
        </a>
      </div>
      <div class="link">
        <a href="">
          <i class="mi mi-phone"></i>
          <span>
            0080 700 699
          </span>
        </a>
      </div>
      <div class="link">
        <a href="">
          <i class="mi mi-mail"></i>
          <span>
            receptop@havenadvisers.co.nz
          </span>
        </a>
      </div>
      <div class="link">
        <a href="">
          <div class="fb-icon">
            <img src="/assets/facebook.png" alt="" srcset="">
          </div>
          <span>
            Be a part of our Facebook community
          </span>
        </a>
      </div>
    </div>
  </div>
</div>