@import "../../variables.less";

.contact-container {
  .contact-form-container {
    background-color: @theme-color1;
    color: @theme-font-color1;
    .title {
    }
    .subtitle {
      .text {
      }
    }
    .form {
      .col {
        input,
        select,
        textarea {
          border: 1px solid @theme-font-color1;
          background-color: @theme-color1;
          color: @theme-font-color1;
        }
      }
      .submit-container {
        .submit {
          background-color: @theme-font-color1;
          cursor: pointer;
          span {
            color: @theme-color1;
          }
        }
      }
    }
  }
  .contact-links-container {
    background-color: @theme-color2;
    color: @theme-font-color2;
    .title {
      color: @theme-color1;
      border-bottom: 1px solid @theme-font-color2;
    }
    .link-container {
      .link {
        a {
          color: @theme-font-color2;
        }
      }
    }
  }
}
