@import "../../variables.less";

.contact-container {
  display: flex;
  flex-direction: row;
  font-size: @desktop-text-size2;

  .contact-form-container {
    padding: 50px;
    flex: 5;
    display: flex;
    flex-direction: column;
    .title {
      padding-top: 40px;
      font-size: @desktop-title-size2;
      display: flex;
      justify-content: center;
    }
    .subtitle {
      text-indent: 10px;
      display: flex;
      justify-content: center;
      .text {
        width: 60%;
      }
    }
    .form {
      .col {
        display: flex;
        flex-direction: row;
        input,
        select,
        textarea {
          margin: 3px;
          padding: 3px;
          flex: 1;
        }
        select,
        input {
          min-height: 2vh;
        }
      }
      .submit-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 5px;
        .submit {
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .contact-links-container {
    flex: 4;
    padding-left: 20px;
    .title {
      padding-top: 90px;
      font-size: @desktop-title-size2;
    }
    .link-container {
      flex-direction: column;
      .link {
        flex: 1;
        padding: 10px 0;
        a {
          span {
            padding-left: 20px;
          }
          .fb-icon {
            display: inline-block;
            img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: (@desktop-minimum-size - 0.001)) {
  .contact-container {
    flex-direction: column;
    font-size: @mobile-text-size2;
    .contact-form-container {
      flex: 1;
      .title {
        font-size: @mobile-title-size2;
      }
      .subtitle {
        text-indent: 30px;
        .text {
          width: 100%;
        }
      }
      .form {
        .col {
          flex-direction: column;
        }
        .submit-container {
          .submit {
            flex: 1;
          }
        }
      }
    }

    .contact-links-container {
      flex: 1;
      padding-bottom: 100px;
      .title {
        font-size: @mobile-title-size2;
      }
      .link-container {
        .link {
          a {
            .fb-icon {
              img {
                width: @mobile-text-size2;
                height: @mobile-text-size2;
              }
            }
          }
        }
      }
    }
  }
}
