@import "../../variables.less";

@media (max-width: (@desktop-minimum-size - .001)) {
  .header-container {
    flex-direction: column;
    display: flex;
  }
  .half {
    display: inline-block;
    flex: 1;
    padding: 20px;
  }
  .header-half {
    float: left;
    .header-logo-container img {
      width: 200px;
      height: auto;
    }
    .header {
      font-size: @mobile-title-size1;
      margin-bottom: 10px;
    }
    .sub-header {
      font-size: @mobile-subtitle-size1;
    }
  }
  .news-half {
    .header {
      font-size: @mobile-title-size2;
      padding: 20px 0;
      margin-bottom: 30px;
      border-bottom: 1px solid #b8b8b8;
    }
    .links-container {
      font-size: @mobile-subtitle-size2;
      ul {
        padding: 0;
        margin: 0;
        li {
          padding: 20px 0;
          a {
            display: flex;
            flex: 1;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media (min-width: @desktop-minimum-size) {
  .header-container {
    display: flex;
    flex-direction: row;
    .half {
      display: inline-block;
      flex: 1;
      padding: 40px;
    }
    .header-half {
      float: left;
      .header-logo-container img {
        width: 200px;
        height: auto;
      }
      .header {
        font-size: @desktop-title-size1;
        margin-bottom: 10px;
      }
      .sub-header {
        font-size: @desktop-subtitle-size1;
      }
    }
    .news-half {
      padding: 75px;
      padding-top: 100px;
      .header {
        font-size: @desktop-title-size2;
        padding: 20px 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #b8b8b8;
      }
      .links-container {
        font-size: @desktop-subtitle-size2;
        padding: 20px 20px 0 0;
        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 20px 0;
            a {
              display: flex;
              flex: 1;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
