<div class='header-container'>
  <div class='header-half half'>
    <div class="header-logo-container">
      <img src="/assets/logo.png" alt="" srcset="">
    </div>
    <h1 class="header">
      Lorem ipsum dolor sit amet
    </h1>
    <p class="sub-header">
      consectetur adipiscing elit, sed do eius mod tempor incididunt ut labore et dolo re magna aliqua onsectetor adipiscing elit,
      sed do eius mod tempor incid.
    </p>
  </div>
  <div class='news-half half'>
    <div class="header">
      News &amp; blog
    </div>
    <div class="links-container">
      <ul>
        <li>
          <a href="#">
            <span>KiwiSaver HomeStart grant explained</span>
            <i class='mi mi-24 mi-play-arrow'>&nbsp;</i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>What's happening in the property market?</span>
            <i class='mi mi-24 mi-play-arrow'>&nbsp;</i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Trust law reform</span>
            <i class='mi mi-24 mi-play-arrow'>&nbsp;</i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Tax update - Simplification of taxes, foreign ...</span>
            <i class='mi mi-24 mi-play-arrow'>&nbsp;</i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>What do the new lending rules mean?</span>
            <i class='mi mi-24 mi-play-arrow'>&nbsp;</i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>How will the Reserve Bank respond to ...</span>
            <i class='mi mi-24 mi-play-arrow'>&nbsp;</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>