@import "../../variables.less";

.header-container {
  .half {
  }
  .header-half {
    background-color: @theme-color1;
    color: @theme-font-color1;
    .header-logo-container img {
    }
    .header {
      font-weight: normal;
    }
    .sub-header {
      line-height: 200%;
    }
  }
  .news-half {
    background-color: @theme-color2;
    color: @theme-font-color2;
    .header {
      color: @theme-color1;
    }
    .links-container {
      font-weight: 600;
      ul {
        list-style-type: none;
        li {
          a {
            color: @theme-font-color2;
            i {
              filter: opacity(30%);
            }
          }
        }
      }
    }
  }
}
