<div class="navbar-container">
  <div class="nav-expand">
    <i class="mi mi-36 mi-view-list" (click)="show()"></i>
  </div>
    <div class="navLink-container" *ngFor="let link of links" [ngClass]="{'nav-hidden':hideNavBar}">
      <a href="#" class="nav" [ngClass]="{'active':link.active}">
        <!-- <div class="nav"> -->
        {{link.text}}
        <!-- </div> -->
      </a>
    </div>
</div>