@import "../../variables.less";
//mobile
@media (max-width: (@desktop-minimum-size - .001)) {
  .navbar-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    .nav-expand {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .navLink-container {
      padding: 20px;
      display: flex;
      justify-content: center;
      .nav {
        font-size: 4.5vw;
      }
    }
    .nav-hidden {
      display: none;
    }
  }
}

@media (min-width: @desktop-minimum-size) {
  .navbar-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    .nav-expand {
      display: none;
    }
      .navLink-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav {
          font-size: 1.2vw;
          display: inline-block;
          height: 20px;
          width: auto;
        }
      }
    
  }
}
