@import "../../variables.less";

.navbar-container {
  background-color: @theme-color2;
  color: @theme-font-color2;
  .nav-expand {
    border: 1px solid #fff;
    padding: 10px;
  }
  .navLink-container {
    a.nav {
      color: @theme-font-color2;
    }
    a.nav:hover {
      color: #000;
    }
    a.nav.active {
      color: @theme-color1;
      font-weight: bold;
    }
  }
}
