/* You can add global styles to this file, and also import other style files */
@import (css) '~normalize.css/normalize.css';
@import (css) '~material-icons/css/material-icons.min.css';
html{
    font-family: Arial, Helvetica, sans-serif;
    // font-weight: normal;
    // font-size: 30px;
}
a {
    text-decoration: none;
}